{% extends 'base.html' %}


{% block head %}
    <title>Groups</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'groups/css/style.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-horizontal" method="post" novalidate>
         {% csrf_token %}
        <fieldset>
            <legend>{{ title }}:</legend>
            {% for field in group_form %}
                {{ field.errors }}
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{ field.label }}</label>
                        <div class="col-sm-6">
                            {{ field }}
                        </div>
                        {% if field.help_text %}
                            <p class="help-inline">
                                <small>{{ field.help_text }}</small>
                            </p>
                        {% endif %}
                 </div>
            {% endfor %}
            <hr>
            <h3>Please send email invitations:</h3>
            {% for field in extra_form %}
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{ field.label }}</label>
                        <div class="col-sm-6">
                            {{ field }}
                        </div>
                        {% if field.help_text %}
                            <p class="help-inline">
                                <small>{{ field.help_text }}</small>
                            </p>
                        {% endif %}
                    </div>
            {% endfor %}
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" >Add New Group</button>
        </div>
    </form>
    </div>
{% endblock %}