{% extends 'base.html' %}


{% block head %}
    <title>Groups</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'groups/css/style.css' %}">
{% endblock %}

{% block body %}
 <div class="container">
    <div class="groups">
        {% for group in groups %}
            <div class="group">
                <h2>{{ group.name  }} </h2>
                <p>{{ group.details }}</p>
                {% if group.payment_id %}
                    <a href="{% url 'payments:group' pk=group.id %}">Show all payments</a>
                {% else %}
                    <a href="{% url 'payments:create' group_id=group.id %}">Create Payment</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
 </div>
{% endblock %}