{% extends 'base.html' %}

{% block head %}
        <title>Account</title>
{% endblock %}

{% block body %}
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{ title }}</h1>
        <hr>
        <form method="POST" action=""> {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{{ title }}" class="btn btn-default">
        </form>
    </div>
    <div class="col-sm-6 col-sm-offset-3" style="margin-top: 10px;">
        <a href="{% url 'accounts:register' %}">Register</a>
    </div>

{% endblock body %}


