{% extends 'public_base.html' %}

{% block head %}
    <title>Payment</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'payments/css/style.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-horizontal" method="post" novalidate>
         {% csrf_token %}
        <fieldset>
            <legend>{{ title }}:</legend>
            <h3>{{ group.name  }}</h3>
            {% if form.subject.errors %}
                <ol role="alertdialog">
                    {% for error in form.subject.errors %}
                    <li role="alert"><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ol>
            {% endif %}
            {% for field in form %}
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{ field.label }}</label>
                        <div class="col-sm-10">
                            {{ field }}
                        </div>
                        {% if field.help_text %}
                            <p class="help-inline">
                                <small>{{ field.help_text }}</small>
                            </p>
                        {% endif %}
                    </div>
            {% endfor %}
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" >Submit</button>
        </div>
    </form>
    </div>
{% endblock %}